
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*=============================*/

body{
	height: 100%;
    margin: 0;
    background-attachment: scroll;
    background-image:url(images/2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
}

#wrapper 
{
    min-width: 100%; 
	position:fixed;
   top: -5px;
	height:80px;
	background: -webkit-linear-gradient( #336699 white, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#336699, white, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#336699, white, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#336699, white, black); /* Standard syntax (must be last) */	
 }
 
 .logo
 {
	margin-left:70px;
	margin-top:-51px;
 }
 
	#tfnewsearch{
		float:right;
		padding-right:80px;
		padding-top:23px;
	}
	.tftextinput{
		margin: 0;
		padding: 8px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:16px;
		font-weight:bold;/*new*/
		border:1px solid #0076a3;
	    border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 8px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:16px;
		font-weight:bold;/*new*/
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}


.body_Page
{
	height:400px;
    background-attachment: scroll;
   // background-image: url(images/12162846_1059490387403177_528385217_o.jpg);
    //background-image: 
    
}
 


#first3tabs
{
  width: 60%;
    height: 50px;
  
    background-color:dimgray;
    margin-left: 250px;
    margin-top: 7px;

   
    
}


 
#home_pic
{
 width: 60px;
    height: 55px;
    margin-top: 8px;
    margin-left: 500px;
 
    opacity: 0.4;
    filter: alpha(opacity=40);
    
}
#home_pic:hover
{
 opacity: 1.0;
    filter: alpha(opacity=100);

}
#team_pic
{
 width: 65px;
    height: 57px;
  
    margin-top: 9px;
    margin-left: 60px;
    opacity: 0.4;
    filter: alpha(opacity=40);    
}
#team_pic:hover
{
 opacity: 1.0;
    filter: alpha(opacity=100);

}
#events_pic
{
 width: 65px;
    height: 53px;
    margin-top: 7px;
   margin-left: 40px;
  
    opacity: 0.4;
    filter: alpha(opacity=40); 
}
#events_pic:hover
{
 opacity: 1.0;
    filter: alpha(opacity=100);

}

#second3tabs

{
    background-color:antiquewhite;
    width: 60%;
    height: 50px;
    margin-left: 250px;
    
}

#gdg_pic
{
 width: 360px;
    height: 100px;
    margin-left: 40px;
    padding-bottom:50px;
    
    position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
     -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
     animation-name: example;
  animation-duration: 4s;
      animation-delay: 2s;
     animation-iteration-count: 3;
      animation-direction: alternate;
      
}
/*@-webkit-keyframes example {
    0%   {background-color: left:0px; top:0px;}
    25%  {background-color: left:200px; top:0px;}
    50%  {background-color: left:200px; top:200px;}
    75%  {background-color: left:0px; top:200px;}
    100% {background-color:left:0px; top:0px;}
}
@keyframes example {
    0%   {background-color: left:0px; top:0px;}
    25%  {background-color: left:200px; top:0px;}
    50%  {background-color: left:200px; top:200px;}
    75%  {background-color: left:0px; top:200px;}
    100% {background-color: left:0px; top:0px;}
}*/


#about_pic
{
 width: 60px;
    height: 60px;
  //  padding-bottom: 50px;
    margin-left: 400px;
    margin-top: 10px;
    opacity: 0.4;
    filter: alpha(opacity=40);    
}
#about_pic:hover
{
 opacity: 1.0;
    filter: alpha(opacity=100);

}
#contact_pic
{
 width: 60px;
    height: 60px;
    margin-top: -170px;
   margin-left: 885px;
  //  padding-bottom: 50px;
    opacity: 0.4;
    filter: alpha(opacity=40); 
}
#contact_pic:hover
{
 opacity: 1.0;
    filter: alpha(opacity=100);

}
#third3tabs
{
    background-color:dimgray;
    width: 60%;
    height: 50px;
    margin-left: 250px;
    
    
    
}


 
#google_pic
{
 
    width: 60px;
    height: 55px;
  //  margin-top: -45px;
    margin-left: 500px;
 
    opacity: 0.4;
    filter: alpha(opacity=40);
    
}
#google_pic:hover
{
 opacity: 1.0;
    filter: alpha(opacity=100);

}
#techn_pic
{
  
    
    width: 65px;
    height: 57px;
  
  //  margin-top: 60px;
    margin-left: 60px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    
}
#techn_pic:hover
{
 opacity: 1.0;
    filter: alpha(opacity=100);

}
#cale_pic
{
 
    
    width: 65px;
    height: 53px;
  //  margin-top: -45px;
   margin-left: 50px;
  
    opacity: 0.4;
    filter: alpha(opacity=40);
    
}
#cale_pic:hover
{
 opacity: 1.0;
    filter: alpha(opacity=100);

}


a {
  color: #fff;
  text-decoration: none;
}
.social {
  margin-top:0px;
  
 position:fixed;
  top: 355px;
    
   
}
.social ul {
 padding: 0px;

  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 0px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
    
}
.social ul li:hover a {
  color: #000;
   
}
.social ul li:hover i {
  color: #fff;
    
  background: rgba(0, 0, 0, 0.36);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  padding: -10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}


p {
    font-family:cursive;
    color:#660066;
    width: 0px;
    height: 30px;
    margin-top: 0px;
  
    font-weight: bold;
   font-size: 50px;
   
    position:relative;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}
/* Chrome, Safari, Opera */
#p1 {-webkit-animation-timing-function: linear;}
#p2 {-webkit-animation-timing-function: ease;}
#p3 {-webkit-animation-timing-function: ease-in;}
#p4 {-webkit-animation-timing-function: ease-out;}
#p5 {-webkit-animation-timing-function: ease-in-out;}
#p6 {-webkit-animation-timing-function: ease-out;}
#p7 {-webkit-animation-timing-function: ease-in-out;}


/* Standard syntax */
#p1 {animation-timing-function: linear;}
#p2 {animation-timing-function: ease;}
#p3 {animation-timing-function: ease-in;}
#p4 {animation-timing-function: ease-out;}
#p5 {animation-timing-function: ease-in-out;}
#p6 {animation-timing-function: linear;}
#p7{animation-timing-function: ease;}


/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left:900px;}
}

/* Standard syntax */
@keyframes mymove {
    from {left: 0px;}
    to {left: 900px;}
}





#footer{
	
	background-image:url(images/GDG-bg-footer7.png);
	background-position:center;
	background-size:cover;
	width:100%;
	height:350px;
	background-repeat:no-repeat;
}

#date-time{
	float:left;
	margin-top:100px;
	margin-left:400px;
	color:#FFF;
	width:250px;
	height:100px;
	font-size:30px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
}

#inf-large-footer{
	width:1000px;
	height:150px;
	position:absolute;
	margin-top:200px;
}

#smallfooter{
	width:100%;
	height:56px;
	background-color:#315485;
}


#smallfooter ul{
	display:inline;
	float:right;
	margin-right:30px;
}
#smallfooter ul li{
	display:inline;
}
#smallfooter ul li a{
}
#smallfooter ul li a img{
}
 
/*==============================*/