<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GDG Fayoum</title>
<link rel="stylesheet" type="text/css" href="website.css" />
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
 <!--===================================================================================================================-->
 
 <div id="wrapper">
     
	<!-- HTML for SEARCH BAR -->
     
    
		<div id="tfheader">
		<form id="tfnewsearch" method="get" action="http://www.google.com">
<input type="text" class="tftextinput" name="q" size="41" maxlength="120"placeholder="what do you want to search on our website ?">
<input type="submit" value="search" class="tfbutton">
		</form>
		<div class="tfclear"></div>
		</div>
        
    <!-- END Of HTML for SEARCH BAR -->
        
     <!-- HTML for Logo -->
     
     	<div class="logo">
        	<img src="images/GDG-program-logo.png" height="60" width="190"/>
            
        </div>
       
     
     <!-- HTML for Logo -->
         <!-- Header,,tabs 'home,event,....'-->
     
   
  <!--  <img src="images/dsc_0290.jpg" id="water" class="img-rounded"> 
   
     <div style="position:fixed; width:100%" class="img-rounded">
  <div id="first3tabs" class="img-rounded">
        <a href="#"><img src="images/Misc-Home-icon.png" id="home_pic" data-toggle="tooltip" title="Home"></a>
       <a href="#"><img src="images/Team%20Huddle.jpg" class="img-circle" id="team_pic" data-toggle="tooltip" title="Team"></a> 
       <a href="#"><img src="images/events_medium.jpg" class="img-circle" id="events_pic" data-toggle="tooltip" title="Events"></a> 
        
    </div> 
     <div id="second3tabs" class="img-rounded">
       <a href="#"><img src="images/AboutUs.jpg" class="img-circle" id="about_pic" data-toggle="tooltip" title="About us"></a> 
         <img src="images/GDG-program-logo%20(1).png" id="gdg_pic"> 
         
         
       <a href="#"><img src="images/contact-us-icon.jpg" class="img-circle" id="contact_pic" data-toggle="tooltip" title="Contact us"></a> 
        
    </div> 
     <div id="third3tabs" class="img-rounded">
        <a href="#"><img src="images/photo_1372853497_temp.jpg" class="img-circle" id="google_pic" data-toggle="tooltip" title="About Google"></a>
       <a href="#"><img src="images/technology-innovation.png" class="img-circle" id="techn_pic" data-toggle="tooltip" title="Technology"></a> 
       <a href="#"><img src="images/calendar5.gif" class="img-circle" id="cale_pic" data-toggle="tooltip" title="Calendar"></a> 
        
    </div> 
     </div>
     
     <img src="images/Ancient-Egypt-Pyramids-2.jpg" id="pyramids" class="img-rounded">
    </div>--> 
     
   <!--   <div id="pry" style="border-bottom:2px solid #333; background-image:url(images/header-bg-eg.png); background-repeat:no-repeat; background-size:100% 285px;">
     <a href="#"><img src="images/077302-black-inlay-crystal-clear-bubble-icon-business-home5.png" id="home_pic" data-toggle="tooltip" title="Home" style="width:70px;height:60px;"></a>
       <a href="#"><img src="images/Team%20Huddle.jpg" class="img-circle" id="team_pic" data-toggle="tooltip" title="Team"></a> 
       <a href="#"><img src="images/events_medium.jpg" class="img-circle" id="events_pic" data-toggle="tooltip" title="Events"></a> 
     
    <div>
        <a href="#"><img src="images/about-us-icon.png" class="img-circle" id="about_pic" data-toggle="tooltip" title="About us">
        <img src="images/google.jpg" id="google_header" class="img-circle" style="width:350px;height:150px;margin-top: 5px;
   margin-left:35px; position:fixed">
            <a href="#"><img src="images/1195445181899094722molumen_phone_icon.svg.hi.png" class="img-circle" id="contact_pic" data-toggle="tooltip" title="Contact us"></a>
     </div>
        
    <a href="#"><img src="images/about%20google.png" class="img-circle" id="google_pic" data-toggle="tooltip" title="About Google"></a>
       <a href="#"><img src="images/technology-innovation.png" class="img-circle" id="techn_pic" data-toggle="tooltip" title="Technology"></a> 
       <a href="#"><img src="images/calendar5.gif" class="img-circle" id="cale_pic" data-toggle="tooltip" title="Calendar"></a> 
          </div>-->
     
 <!--    <div style="margin-top:5px; position:relative;">
    <div id="pry" style="border-bottom:2px solid #333; background-image:url(images/header-bg-eg.png); background-repeat:no-repeat; background-size:100% 285px; height:287px;">
     <a href="#"><img src="images/077302-black-inlay-crystal-clear-bubble-icon-business-home5.png" id="home_pic" data-toggle="tooltip" title="Home" style="width:70px;height:60px;"></a>
       <a href="#"><img src="images/Team%20Huddle.jpg" class="img-circle" id="team_pic" data-toggle="tooltip" title="Team"></a> 
       <a href="#"><img src="images/events_medium.jpg" class="img-circle" id="events_pic" data-toggle="tooltip" title="Events"></a> 
     
        <div>   
        <a href="#"><img src="images/about-us-icon.png" class="img-circle" id="about_pic" data-toggle="tooltip" title="About us">
        <img src="images/google.jpg" id="google_header" class="img-circle" style="width:350px;height:150px;margin-top: 5px;
   margin-left:35px; ">
            <a href="#"><img src="images/1195445181899094722molumen_phone_icon.svg.hi.png" class="img-circle" id="contact_pic" data-toggle="tooltip" title="Contact us"></a>
           </div>
     
   <div style="margin-top:6px;"> 
    <a href="#"><img src="images/about%20google.png" class="img-circle" id="google_pic" data-toggle="tooltip" title="About Google"></a>
       <a href="#"><img src="images/technology-innovation.png" class="img-circle" id="techn_pic" data-toggle="tooltip" title="Technology" ></a> 
            
            
       <a href="#"><img src="images/calendar5.gif" class="img-circle" id="cale_pic" data-toggle="tooltip" title="Calendar"></a>
            </div>
           
        
            
          </div>
        </div>-->
     
  </div>
   
     
     
    
     <!--   body   -->
     
    
    
     <!--   End body   -->
    
    
    
     
    <div class="body_Page"></div>
     
    
   <div style="margin-top:-325px;">
    <div id="pry" style="border-bottom:2px solid #333; background-image:url(images/header-bg-eg.png); background-repeat:no-repeat; background-size:100% 285px; height:287px;">
     <a href="#"><img src="images/077302-black-inlay-crystal-clear-bubble-icon-business-home5.png" id="home_pic" data-toggle="tooltip" title="Home" style="width:70px;height:60px;"></a>
       <a href="#"><img src="images/Team%20Huddle.jpg" class="img-circle" id="team_pic" data-toggle="tooltip" title="Team"></a> 
       <a href="#"><img src="images/events_medium.jpg" class="img-circle" id="events_pic" data-toggle="tooltip" title="Events"></a> 
     
        <div>   
        <a href="#"><img src="images/about-us-icon.png" class="img-circle" id="about_pic" data-toggle="tooltip" title="About us">
        <img src="images/google.jpg" id="google_header" class="img-circle" style="width:350px;height:150px;margin-top: 5px;
   margin-left:35px; ">
            <a href="#"><img src="images/1195445181899094722molumen_phone_icon.svg.hi.png" class="img-circle" id="contact_pic" data-toggle="tooltip" title="Contact us"></a>
           </div>
     
   <div style="margin-top:6px;"> 
    <a href="#"><img src="images/about%20google.png" class="img-circle" id="google_pic" data-toggle="tooltip" title="About Google"></a>
       <a href="#"><img src="images/technology-innovation.png" class="img-circle" id="techn_pic" data-toggle="tooltip" title="Technology" ></a> 
            
            
       <a href="#"><img src="images/calendar5.gif" class="img-circle" id="cale_pic" data-toggle="tooltip" title="Calendar"></a>
            </div>
        
           
        
            
          </div>
        </div>
 
 <!--====================================================================================================================-->
    <div class="container">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
		<!--====================================================================================================================-->
		
		<!--  <  style="font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#FFF; float:right; margin-top:370px; margin-right:20px;" >-->
    <div id="footer" >
    	<img src="images/gdg fayoum 2.png" style="float:right; width:300px; height:300px; margin-top:50px; margin-right:50px;" />
        
        <!--date-time-->
        <div id="date-time">
            <!--date fun-->
            <SCRIPT LANGUAGE="JavaScript1.2">
                    <!-- Begin
                    var months=new Array(13);
                    months[1]="Jan";
                    months[2]="Feb";
                    months[3]="Mar";
                    months[4]="Apr";
                    months[5]="May";
                    months[6]="Jun";
                    months[7]="Jul";
                    months[8]="Aug";
                    months[9]="Sep";
                    months[10]="Oct";
                    months[11]="Nov";
                    months[12]="Dec";
                    var time=new Date();
                    var lmonth=months[time.getMonth() + 1];
                    var date=time.getDate();
                    var year=time.getYear();
                    if (year < 2000)    
                    year = year + 1900; 
                    document.write("<center>" + date + "  ");
                    document.write(lmonth + "  " + year + "</center>");
                    // End -->
                </SCRIPT>
            <!--end date fun-->
            <!--time-->
                <div align="center">
                    <table>
                        <script>
                            function getthedate(){
                            var mydate=new Date()
                            var daym=mydate.getDate()
                            if (daym<10)
                            daym="0"+daym
                            var hours=mydate.getHours()
                            var minutes=mydate.getMinutes()
                            var seconds=mydate.getSeconds()
                            var dn="H:i"
                            if (hours>=12)
                            dn="PM"
                            if (hours>12){
                            hours=hours-12
                            }
                            if (hours==0)
                            hours=12
                            if (minutes<=9)
                            minutes="0"+minutes
                            if (seconds<=9)
                            seconds="0"+seconds
                            var cdate="<big><font color='#FFF' face='MS Sans Serif'>"+hours+":"+minutes+":"+seconds+"</font></big>"
                            if (document.all)
                            document.all.clock.innerHTML=cdate
                            else if (document.getElementById)
                            document.getElementById("clock").innerHTML=cdate
                            else
                            document.write(cdate)
                            }
                            if (!document.all&&!document.getElementById)
                            getthedate()
                            function goforit(){
                            if (document.all||document.getElementById)
                            setInterval("getthedate()",1000)
                            }
                        </script>
                        <span id="clock"><body  rightmargin="0" leftmargin="0" topmargin="0" marginwidth="0"  onLoad="goforit()"></span>
                    </table>
                </div>
                <!--end time fun-->
            </div>
            <!--end div date-time-->
            
            
            <div id="inf-large-footer" style="margin-left:30px;">
        		<div id="inf-facebook" style="width:250px; height:150px;  float:left; padding:10px; ">
                	<span style="font-weight:bold; font-size:20px; color:#FF0;">Facebook</span>
                    <p8 style="color:#FFF;">Make like to our page on and <br /> you can send us some mess- <br /> age and wait our responding <br /> in 1 or 3 days.</p8>
                </div>
                <div id="inf-Google+" style="width:250px; height:150px; float:left; padding:10px;">
                	<span style="font-weight:bold; font-size:20px; color:#FF0;">Google+</span>
                    <p9 style="color:#FFF;">Make account on Google+ and <br /> visit our account to see what n- <br />ew on google.</p9>
                </div>
                <div id="inf-twitter" style="width:250px; height:150px; float:left; padding:10px;">
                	<span style="font-weight:bold; font-size:20px; color:#FF0;">Twitter</span>
                    <p10 style="color:#FFF;">You can visit out account on <br /> twitter and see out Tweets.</p10>
                </div>
                <div id="inf-youtube" style="width:250px; height:150px; float:left; padding:10px;">
                	<span style="font-weight:bold; font-size:20px; color:#FF0;">Youtube</span>
                    <p11 style="color:#FFF;">If you want to follow us and our videos for our events visit our c- <br /> hannel on youtube.</p11>
                </div>
        	</div>
            
    </div>
        
        
    
    <div id="smallfooter">
    	<span style="float:left; font-size:16px; font-weight:bold; color:#fff; margin-left:10px; margin-top:15px;">&copy; Edit by GDG Fayoum members "Amr Essam (Leader), Mario Emad, Sally Ahmed, Gehad Ahmed".</span>
        
         
        <ul class="nav navbar-nav">
             <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();   
             });
           </script>
        	<li><a href="https://www.facebook.com/GDG-Fayoum-697217413726281/timeline/" data-toggle="tooltip" title="Facebook" target="_blank" style="padding:7px;"><img src="images/Links GDG/fb.png" style="width:42px; height:41px;"/></a></li>
           
            <li><a href="https://plus.google.com" data-toggle="tooltip" title="Google plus" target="_blank" style="padding:10px;"><img src="images/Links GDG/googleplus (1).png" style="width:32px; height:35px;"/></a></li>
            <li><a href="https://www.youtube.com" data-toggle="tooltip" title="Youtube"  target="_blank" style="padding:8px;"><img src="images/Links GDG/youtube-4096-black.png" style="width:45px; height:40px;"/></a></li>
            <li><a href="https://www.twitter.com" data-toggle="tooltip" title="Twitter" target="_blank" style="padding:8px;"><img src="images/Links GDG/glossy-black-new-twitter-bird-square.png" style="width:40px; height:40px;"/></a></li>
            <li><a href="https://instagram.com" data-toggle="tooltip" title="Instgram" target="_blank" style="padding:12px;"><img src="images/Links GDG/instagram (1).png" style="width:30px; height:32px;" /></a></li>
        </ul>
              
        
    </div>
     </div>
		<!--====================================================================================================================-->
		
		
</html>
